@use "@angular/material" as mat;

$font-family: "Plus Jakarta Sans, sans-serif";

// theme configuration map
$my-theme-config: (
  color: (
    primary: mat.$magenta-palette,
    tertiary: mat.$violet-palette,
  ),
  typography: (
    plain-family: $font-family,
    brand-family: $font-family,
    bold-weight: 700,
    medium-weight: 500,
    regular-weight: 400,
  ),
  density: 0,
);

html,
body {
  height: 100%;
  color-scheme: light dark;
}

body[color-mode="light"] {
  color-scheme: light;
}
body[color-mode="dark"] {
  color-scheme: dark;
}

html {
  @include mat.theme($my-theme-config);
}

body {
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  margin: 0;
}
