@use "@angular/material" as mat;

$spacing: 16px;

$primary: var(--mat-sys-primary);
$secondary: var(--mat-sys-secondary);
$accent: var(--mat-sys-secondary);
$error: var(--mat-sys-error);
$warning: #ffae1f;
$success: #13deb9;
$white: #ffffff;

$light: var(--mat-sys-surface-bright);
$light-primary: var(--mat-sys-primary-fixed-dim);
$light-secondary: var(--mat-sys-secondary-fixed-dim);
$light-accent: var(--mat-sys-secondary-fixed-dim);
$light-error: var(--mat-sys-error-fixed-dim);
$light-warning: #ffad1f40;
$light-success: #13deb940;

$text-color: var(--mat-sys-on-background);

$dark-text-secondary: rgba(255, 255, 255, 0.67);
$dark-body-bg: #141a21;
