@use "variables" as var;

.bar {
  margin-bottom: var.$spacing;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5;
  justify-content: space-between;
  align-items: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 5;
  justify-content: space-between;
  align-items: stretch;

  & > * {
    flex: 1;
    margin: var.$spacing;
  }
}

mat-card {
  min-width: 240px;
}
